---
import Section from "@/components/Section.astro";
import ExperienceEntry from "@/components/ExperienceEntry.astro";

import { work } from "@resume";
---

<Section title="Work Experience">
  <ul>
    {
      work.map(({ position, name, startDate, endDate, summary, url }) => {
        const sd = new Date(startDate);
        const startYear = sd.getFullYear();
        const startMonth = sd.toLocaleString("default", { month: "short" });
        const ed = endDate ? new Date(endDate) : new Date();
        const endYear = endDate ? ed.getFullYear() : "Present";
        const endMonth = endDate
          ? ed.toLocaleString("default", { month: "short" })
          : "";
        const range = `${startMonth} ${startYear} - ${endMonth} ${endYear}`;

        return (
          <li>
            <ExperienceEntry
              position={position}
              name={name}
              timeRange={range}
              summary={summary}
              url={url || undefined}
            />
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
